/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
a {
    color: rgb(59, 58, 58);
}

a:hover {
    color: rgb(60, 114, 108)
}

p {
  text-align: justify;
}

#sidebar {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    z-index: 100;
}

#main {
    background-image: url("triangle-mosaic.png") ;
    position:relative;
    z-index: 10;
}

img {
  float: right;
  max-width: 100%;
}


#content {
  padding: 20px;
  background-color: white;
  margin: 20px;
  float: left;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
  z-index: 100;
}

p {
  margin: 16px 0px
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

h2 {
  color: rgb(13, 128, 114);
  margin-top: 10px;
}

h3 {
  color: rgb(13, 128, 114);
  margin-bottom: 20px;
  text-align: justify;
}

#about-me {
  text-align: justify;
  padding-top:25px
}

#no-padding {
padding: 0px 0px 0px 0px;

}

.container-fluid {
  font-family: 'Roboto', sans-serif;
}
#header {
  background-color: rgb(42, 68, 65);
  color: white;
  padding-top:20px;
  padding-left:20px;
  padding-bottom:20px;
}
.btn, .btn:active, .btn:visited {
  background-color: rgb(42, 68, 65);
  color:white;
}
.btn:hover {
  background-color: rgb(60, 114, 108) ;
  color:white;
}
.dl-vertical dt {
  display: block;
  clear: both;
  width: 150px;
}

.dl-vertical dd, .dl-vertical dt, .main-navigation .navigation-extend-bar .social-icons, .pull-left {
  float: left;
}

 #pdf {
  width: 50vw;
  height: 70.71vw;
 }

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%232a4441' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%232a4441' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}

.carousel-control-next {
  justify-content: right;
  width: 7%
}

.carousel-control-prev {
  justify-content: left;
}

#bottom-icons {
  position:absolute;
  bottom:30px;
  text-align: center;
  padding-left: 20px;
}

#bottom-icons1 {
  margin:5px;

}

#portrait-img {
  border-radius: 48%;
  width: 250px;
  height: auto;
}

#portrait {
  display:flex;
  align-items:center;
  justify-content:center;
  vertical-align: text-top;
}

#carousel1 {
  padding-top: 20px;
}

#year {
  float: right;
}

#company {
  font-style: italic;
}

#position-title {
  font-weight: bold;
}

li {
  margin-left: 20px;
}

.px-3 {
 padding-left: 0rem!important; 
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #content {
    margin-left:0px;
    margin-right:0px;
    margin-top:5px;
  }
}
